<footer class="footer">
  <div class="footer__top">
    <a href="/mobiles" class="footer__top_link">Mobiles</a>
    <a href="/tablets" class="footer__top_link">Tablets</a>
    <a href="/wearables" class="footer__top_link">Wearables</a>
    <a href="/hearables" class="footer__top_link">AirPonds</a>
    <a href="/game-consoles" class="footer__top_link">Games consoles</a>
    <a href="/laptops" class="footer__top_link">MacBooks</a>
    <a href="/how-it-works" class="footer__top_link">How it works</a>
    <a href="/faq" class="footer__top_link">FAQ's</a>
    <a href="/contact-us" class="footer__top_link">Contant us</a>
  </div>
  <div class="footer__bottom">
    <a href="#" class="footer__bootom_link">Terms & Conditions</a>
    <a href="#" class="footer__bootom_link">Cookies Policy</a>
    <a href="#" class="footer__bootom_link">Privacy Policy</a>
  </div>
</footer>
