<section class="page">
  <h1 class="page__title">How it works</h1>
  <div class="page__cards">
    <div class="page__card">
      <p class="page__card_title">Step 1 - Find your device</p>
      <p class="page__card_text">
        Search for your phone, tablet or wearable. Remember anyone can use
        Amazon Trade-in.
      </p>
    </div>
    <div class="page__card">
      <p class="page__card_title">Step 2 - Trade-in your device</p>
      <p class="page__card_text">
        Then add item(s) to your basket. And go to the checkout to place your
        order.
      </p>
    </div>
    <div class="page__card">
      <p class="page__card_title">Step 3 - Get everything ready</p>
      <p class="page__card_text">
        Delete any personal data from your device*. Remove your sim or memory
        card.
      </p>
    </div>
    <div class="page__card">
      <p class="page__card_title">Step 4 - Send it to us</p>
      <p class="page__card_text">
        Package it along with your order summary and take it to the Post Office,
        where they will scan your QR code. High value items please send recorded
        delivery.
      </p>
    </div>
    <div class="page__card">
      <p class="page__card_title">Step 5 - Get paid fast</p>
      <p class="page__card_text">
        Once we’ve received your device, payment will reach your bank account
        within 3-5 working days. Terms apply.
      </p>
    </div>
    <div class="page__card">
      <p class="page__card_title">Step 6 - Time to upgrade</p>
      <p class="page__card_text">
        Spend your Recycle money on a nice new device from Amazon. Visit our
        online shop.
      </p>
    </div>
  </div>
</section>
