<app-notification></app-notification>
<section class="product">
  <div class="product__image_wrapper">
    <img src="assets/images/product.webp" alt="product">
  </div>
  <div class="product__texts">
    <p>Tell us about the condition of your mobile.</p>
    <p>Please answer the below questions to get an accurate quote.</p>
  </div>
</section>
<app-questions></app-questions>
<section class="price">
  <p class="price__text">Device Value: <span class="price__value">£0.00</span></p>
  <button class="price__btn button">Trade-in now</button>
</section>
