<section class="question">
  <p class="question__text">Have you removed your iCloud account and Find My iPhone from this device?</p>
  <div class="question__answers">
    <label class="question__answer">
      <input type="radio" name="question">
      <div class="question__answer_container">
        <span class="question__answer_text">Yes</span>
      </div>
    </label>
    <label class="question__answer">
      <input type="radio" name="question">
      <div class="question__answer_container">
        <span class="question__answer_text">Maybe</span>
      </div>
    </label>
    <label class="question__answer">
      <input type="radio" name="question">
      <div class="question__answer_container">
        <span class="question__answer_text">No</span>
      </div>
    </label>
  </div>
</section>

<section class="question">
  <p class="question__text">Have you removed your iCloud account and Find My iPhone from this device?</p>
  <div class="question__answers">
    <label class="question__answer">
      <input type="radio" name="question">
      <div class="question__answer_container">
        <span class="question__answer_text">Yes</span>
      </div>
    </label>
    <label class="question__answer">
      <input type="radio" name="question">
      <div class="question__answer_container">
        <span class="question__answer_text">Maybe</span>
      </div>
    </label>
    <label class="question__answer">
      <input type="radio" name="question">
      <div class="question__answer_container">
        <span class="question__answer_text">No</span>
      </div>
    </label>
  </div>
</section>
