<section class="registration">
  <form action="" class="registration__form">
    <div class="container">
      <h2 class="title">Add Details</h2>
      <div class="registration__inputs inputs">
        <input type="text" class="input" placeholder="First Name">
        <input type="text" class="input" placeholder="Last Name">
        <input type="number" class="input" placeholder="Telephone Number">
        <input type="email" class="input" placeholder="Email Address">
      </div>
      <h2 class="title">Find my address</h2>
      <input type="number" class="input" placeholder="Postcode">
    </div>
    <div class="container">
      <h2 class="title">Payment</h2>
      <button type="button" class="registration__block block">
        <span class="block__name">BACS</span>
        <span class="block__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39.56 39.56"><path d="M374.656,121.407a4.623,4.623,0,0,1,1.373.208l3.954-3.955-1.843-1.843-5.59,5.59Z" transform="translate(-343.765 -106.868)"></path><path d="M448.22,161.908l-1.024-1.024-3.581,3.581a4.618,4.618,0,0,1,1.251,3.163v.912l3.354-3.354A2.318,2.318,0,0,0,448.22,161.908Z" transform="translate(-409.339 -148.453)"></path><path d="M139.831,7.31,133.2.679a2.318,2.318,0,0,0-3.278,0l-13.86,13.86H132.6Z" transform="translate(-107.094 0)"></path><path d="M78.734,313.264h3.531v2.606H78.734Z" transform="translate(-72.651 -289.06)"></path><path d="M30.891,218.167H2.318A2.318,2.318,0,0,0,0,220.485v18.067a2.318,2.318,0,0,0,2.318,2.318H30.891a2.318,2.318,0,0,0,2.318-2.318V220.485A2.318,2.318,0,0,0,30.891,218.167ZM3.765,223.2h8.167v7.242H3.765ZM8.275,235.84H3.693v-2.318H8.275Zm7.08,0H10.774v-2.318h4.581Zm7.08,0H17.854v-2.318h4.581Zm7.08,0H24.934v-2.318h4.581Z" transform="translate(0 -201.31)"></path></svg>
        </span>
      </button>
      <div class="inputs">
        <input type="text" class="input" placeholder="Customers full name">
        <input type="text" class="input" placeholder="Bank account number">
        <input type="number" class="input" placeholder="Sort code">
      </div>
    </div>
    <div class="container">
      <h2 class="title">Delivery</h2>
      <button type="button" class="block">
        <span class="block__name">Package myself</span>
        <span class="block__icon">
          <svg _ngcontent-ng-c4133767369="" xmlns="http://www.w3.org/2000/svg" width="46.65" height="37.129" viewBox="0 0 46.65 37.129"><path _ngcontent-ng-c4133767369="" id="fast-delivery" d="M31.737,89.379V72.146l14.913-8.61V80.109a1.119,1.119,0,0,1-.571.99ZM13.8,80.814H1.765a1.765,1.765,0,1,1,0-3.53h11.97c2.07,0,2.07-3.305,0-3.305H6.542a1.765,1.765,0,1,1,0-3.53h5.626c2.07,0,2.07-3.305,0-3.305H1.765a1.765,1.765,0,1,1,0-3.53h12.09l14.778,8.532V89.379ZM15.261,60.85l14.924,8.617L45.109,60.85l-14.9-8.6H20.44a1.765,1.765,0,1,0,0,3.53h2.065a.412.412,0,0,1,.206.769Zm-.85-8.6a1.765,1.765,0,1,1,0,3.53H3.684a1.765,1.765,0,1,1,0-3.53Z" transform="translate(0 -52.25)" fill-rule="evenodd"></path></svg>
        </span>
      </button>
    </div>
    <div class="registration__save container">
      <h2 class="title">Would you like to save your details?</h2>
      <p class="registration__text text">Tick to save your details for future use and access to tracking of your device.</p>
      <input type="password" class="registration__save_input input" placeholder="password">
      <div class="registration__save_confirm">
        <span class="registration__save_confirm_text text">I have read and agree to the 
          <a href="#" class="registration__link text">terms and conditions</a>
        </span>
        <label>
          <input id="confirm_checkbox" type="checkbox">
          <div class="registration__checkbox">
            <span class="registration__checkbox_mark">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
              </svg>
            </span>
          </div>
        </label>
      </div>
    </div>
  </form>
</section>
