<div class="search-input">
  <span class="search-input__icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.084 26.084">
      <path id="Path_260" data-name="Path 260" d="M32.669,31.6,26.743,25.67a11.408,11.408,0,1,0-1.073,1.073L31.6,32.669A.759.759,0,0,0,32.669,31.6ZM11.213,25.16a9.862,9.862,0,1,1,6.973,2.888A9.8,9.8,0,0,1,11.213,25.16Z" transform="translate(-6.808 -6.808)"/>
    </svg>
  </span>
  <input type="text" class="search-input__input" placeholder="Enter your model or IMEI number…">
  <button class="search-input__btn">Search Device</button>
</div>
