<section class="search">
  <form class="search__inner">
    <p class="search__title">Please enter your IMEI or serial for your Apple AirPods to continue</p>
    <app-search-input></app-search-input>
    <p class="search__description">Click here to find my IMEI or Serial number</p>
  </form>
  <div class="search__modal">
    <!-- <div class="search__modal_error">
      <p class="search__modal_error_text">Sorry we cannot find, please try again.</p>
    </div> -->
    <!-- <div class="search__modal_items">
      <a href="#" class="search__modal_item">Samsung Galaxy Tab A 10.1</a>
      <a href="#" class="search__modal_item">Samsung Galaxy Tab A 10.1</a>
      <a href="#" class="search__modal_item">Samsung Galaxy Tab A 10.1</a>
    </div> -->
  </div>
</section>
